.App {
  display:flex;
  justify-content:center;
  align-items: center;
}
body{
  background-color: black;
}
.calc-wrapper{
  background-color: white;
  width: 400px;
  border-radius: 16px;
}
.row{
  display:flex;
}